@model string

@{
    ViewData["Title"] = "Names";
}

<h1>Member Names</h1>

<div class="card">
    <div class="card-body">
        @Model
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>